<h1> {{model.title}} </h1>
<h2> {{model.author}} </h2>
<h3> {{model.content}} </h3>

  {{new-comment saveComment2="saveComment3" post=model}}


<h2> Comments for {{model.title}}</h2>

<ul>
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
